/* ---------------------------- *\
    
    $Variables

\* ---------------------------- */

$darkGrey           = #333
$lightGrey          = #666
$background         = #d6d6d6
$basetransition     = 250ms linear
$pseudotransition   = 250ms ease-in-out

$roboto             = 'Roboto Mono', sans-serif
$rubik              = 'Rubik', sans-serif