/* ---------------------------- *\

    $Fonts

\*----------------------------- */

// webfont('font-name', 'font-slug', font-weight, font-style)
webfont('Rubik', 'Rubik-Medium', 500)
webfont('Roboto Mono', 'RobotoMono-Regular', 400)
webfont('Roboto Mono', 'RobotoMono-Italic', 400, italic)
webfont('Roboto Mono', 'RobotoMono-SemiBold', 600)
webfont('Tanker', 'Tanker-Regular', 400)